@import "tailwindcss";

:root {
  --darkest: #00173e;
  --dark: #02457A;
  --medium: #018ABE;
  --light: #97CAD8;
  --lightest: #e0ebee;
}

body {
  background-color: #2a2a2a;
  color: var(--lightest);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
